@model TheWall.Model.Course

@*@{
    ViewBag.Title = "Details";
}*@

<h2>Details</h2>

@*<fieldset>
    <legend>Course</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Availability.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Availability.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>
</fieldset>*@

<div style="border: 1px solid #808080">
    <p>
        <a href="@Model.Url">@Model.Name</a> 
        @Html.ActionLink("Stats", "Index", "Stats")
    </p>
    <p>
        Available: @Model.Availability.Description
    </p>
    <p>
        @Model.Description
    </p>

    @Html.ActionLink("Details", "Details", new { id = Model.Id })

</div> 

<div style="border: 1px solid #808080">       

    @Html.Action("Index", "Feedback", new { id = Model.Id })

</div>

<div style="border: 1px solid #808080">

    @Html.Action("Create", "Feedback", new { id = Model.Id })

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
